<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Skydiving - Samuel Rosander{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <a href="{{ url_for('main.home') }}" class="site-logo">
          <i class='bx bx-cloud'></i>Skydiving</a>
        <button id="menu-button" onClick="toggleMenu()">
          <i class='bx bx-menu'></i>
        </button>
      </div>
      <div class="content">
        <nav id="navbar">
          <ul>
            <li><a href="{{ url_for('main.home') }}"><i class="bx bx-home"></i> Home</a></li>
            <li><a href="{{ url_for('divegen.dive_generator') }}"><i class="bx bx-git-compare"></i> FS4 Generator</a></li>
            <li>
              <button id="logbook-submenu-toggle" type="button" class="nav-arrow-down" onClick="toggleLogbookSubmenu()">&#x25BC;</button>
              <a href="{{ url_for('logbook.logbook') }}"><i class="bx bx-book"></i> Logbook</a>
              <ul id="logbook-submenu">
                <li><a href="{{ url_for('logbook.logbook_import') }}" class="sub-link"><i class="bx bx-cloud-upload"></i> Import</a></li>
                <li><a href="{{ url_for('logbook.logbook_export') }}" class="sub-link"><i class="bx bx-cloud-download"></i> Export</a></li>
              </ul>
            </li>
            <li><a href="{{ url_for('videos.browse') }}"><i class='bx bx-movie-play' ></i> Video Archive</a></li>
          </ul>

          <div class="line"></div>

          {% if current_user.is_authenticated %}
            <div class="user-info">Logged in as
              <div>{{ current_user.email }}</div>
            </div>
            <a href="{{ url_for('auth.logout') }}"><i class="bx bx-log-out"></i> Log out</a>
          {% else %}
            <a href="{{ url_for('auth.oauth2_authorize', provider='google') }}">
              <i class='bx bxl-google'></i> Log in with Google
            </a>
          {% endif %}
        </nav>
        <div class="main-container">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="flash {{ category }}">
                  <span>
                    {{ message | safe}}
                  </span>
                  <span class="flash-close" onClick="dismiss(this)">
                    &times;
                  </span>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="{{url_for('static', filename='scripts.js')}}"></script>
  </body>
</html>
