{% extends "layout.html" %}
{% block title %}Video Archive{% endblock %}
{% block body %}

<h1>Video Archive</h1>
<div class="video-wrapper">
    <h4>/{{ subfolder or ''}}</h4>
    {% if subfolder %}
        <i class='bx bx-subdirectory-left'></i>
        <a href="{{ url_for('videos.browse', subfolder=subfolder.rsplit('/', 1)[0] if '/' in subfolder else None) }}">
            Back</a>
        <br><br>
    {% endif %}

    <ul>
    {% for dir in dirs %}
        <li>
            <i class='bx bx-folder'></i>
            <a href="{{ url_for('videos.browse', subfolder=dir.full_path) }}">{{ dir.name }}</a>
        </li>
    {% endfor %}
    </ul>

    <div class="video-files-wrapper">
        <ul>
        {% for file in files %}
            <li>
                <i class='bx bx-file-blank'></i>
                <a href="{{ url_for('videos.play', filename=file.full_path) }}">{{ file.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
