@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    --font-main: 'Poppins', sans-serif;
    --font-monospace: 'Courier Prime', 'Courier New', Courier, monospace;
    --bg-color: hsl(205, 8%, 20%);
    --bg-color-hover: hsl(205, 8%, 23%);
    --text-color: #fff;
    --text-color-inverted: #000;
    --navbar-color: hsl(205, 10%, 15%);
    --navbar-color-hover: hsl(205, 10%, 18%);
    --navbar-sub-color: hsl(205, 12%, 10%);
    --navbar-sub-color-hover: hsl(205, 12%, 12%);
    --logo-bg-color: hsl(205, 8%, 27%);
    --form-color: hsl(205, 8%, 27%);
    --form-color-hover: hsl(205, 8%, 35%);
    --form-color-lighter: hsl(205, 8%, 30%);
    --form-color-darker: hsl(205, 12%, 16%);
    --main-color: hsl(197, 71%, 73%);
    --main-color-hover: hsl(197, 46%, 57%);
    --delete-color: hsl(0, 100%, 62%);
    --flash-success-color: #70d589;
    --flash-message-color: #a170d5;
    --flash-warning-color: #ad9032;
    --flash-error-color: #AD3232;
    --animation-speed: 0.2s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-main);
}

a {
    text-decoration: none;
    color: var(--main-color);
}

a:hover {
    color: var(--main-color-hover);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-bottom: 1rem;
}

h1 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--form-color);
}

.line { 
    margin: 3rem 0;
    background-color: var(--form-color);
    height: 2px;
}

#navbar .line {
    margin: 1rem;
}

.invisible {
    visibility: hidden !important;
    opacity: 0;
}

.wrapper {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.header {
    background-color: var(--logo-bg-color);
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
    z-index: 10;
}

.site-logo {
    color: var(--main-color);
    display: inline-block;
    font-weight: 400;
    padding: 1rem;
    font-size: 1.2rem;
    display: inline-flex;
    align-items: center;
}

.site-logo i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

#menu-button {
    display: none;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    width: 3rem;
    height: 3rem;
    background: none;
    z-index: 20;
    font-size: 1.8rem;
    color: var(--text-color);
    -webkit-tap-highlight-color: transparent;
}

#menu-button:hover {
    cursor: pointer;
    color: var(--main-color);
}

.content {
    display: flex;
    flex: 1;
    position: relative;
}

#navbar {
    background-color: var(--navbar-color);
    flex-shrink: 0;
    width: 260px;
    position: relative;
}

#navbar li {
    list-style-type: none;
}

#navbar a {
    display: flex;
    color: var(--text-color);
    padding: 1rem;
    align-items: center;
}

#navbar a.active {
    background-color: var(--navbar-color-hover);
    box-shadow: inset 3px 0 0 var(--main-color);
}


#navbar a:hover {
    background-color: var(--navbar-color-hover);
}

#navbar .sub-link {
    background-color: var(--navbar-sub-color);
}

#navbar .sub-link:hover {
    background-color: var(--navbar-sub-color-hover);
}

#navbar ul li ul li:first-child a {
    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.2);
}

#navbar a i {
    font-size: 1.5rem;
    line-height: 1rem;
    margin-right: 1rem;
}

#navbar .user-info {
    font-size: 0.8rem;
    padding: 1rem;
    text-align: center;
}

.nav-arrow-down {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 3.5rem;
    background: none;
    color: var(--text-color);
}

.nav-arrow-down:hover {
    cursor: pointer;
    color: var(--main-color-hover);
}

#logbook-submenu {
    visibility: hidden;
    max-height: 0;
    transition: 0.4s ease;
    overflow: hidden;
}

#logbook-submenu.visible {
    visibility: visible;
    max-height: 7rem;
}

#logbook-submenu a.active {
    background-color: var(--navbar-sub-color-hover);
}

#navbar ul li ul li:first-child a.active {
    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.2),
    inset 3px 0 0 var(--main-color);
}

.main-container {
    padding: 3rem;
    flex-grow: 1;
    max-width: 100%;
}

.form {
    background-color: var(--form-color);
    color: var(--text-color);
    padding: 1rem;
    font-size: 1rem;
    display: block;
    margin-bottom: 1rem;
}

.form:focus {
    outline: none;
    box-shadow: inset 0 -2px 0 var(--main-color);
}

.form-number {
    display: flex;
}

.form-number .btn {
    background-color: var(--form-color-lighter);
    color: var(--text-color);
    width: 3rem;
}

.form-number .btn-decrement {
    border-radius: 10px 0 0 10px;
}

.form-number .btn-increment {
    border-radius: 0 10px 10px 0;
}

.form-number button:hover {
    background-color: var(--form-color-hover);
}

.form-number .form {
    text-align: center;
    width: 4rem;
}

.flex-row {
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}

.flex-row .form {
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 0;
    text-align: center;
    margin-right: 1rem;
}

.flex-row label {
    flex: 1;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

.btn {
    line-height: 1;
    font-size: 1rem;
    font-family: var(--font-main);
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--text-color-inverted);
    display: block;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.btn:hover {
    background-color: var(--main-color-hover);
    cursor: pointer;
}

.btn.frame {
    background-color: var(--bg-color);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    padding: calc(1rem - 2px);
}

.btn.frame:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
    color: var(--text-color-inverted);
}

.btn.clear {
    background-color: var(--form-color-darker);
    color: var(--main-color);
    margin-right: 2px;
    padding: 0;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 1.4em;
}

.btn.clear:hover {
    background-color: var(--main-color);
    color: var(--text-color-inverted);
}

.btn.delete {
    background-color: var(--form-color-darker);
    color: var(--delete-color);
    padding: 0;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 1.4em;
}

.btn.delete:hover {
    background-color: var(--delete-color);
    color: var(--text-color-inverted);
}

.btn.delete-frame {
    background-color: var(--bg-color);
    color: var(--delete-color);
    border: 2px solid var(--delete-color);
    padding: calc(1rem - 2px);
}

.btn.delete-frame:hover {
    background-color: var(--delete-color);
    color: var(--text-color-inverted);
}

.btn:disabled:hover {
    background-color: var(--form-color);
    cursor: default;
}

.radio_option {
    background-color: var(--form-color);
    padding: 1rem 0;
    display: inline-block;
    user-select: none;
    box-shadow: inset 0 -2px 0 var(--main-color);
    text-align: center;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.radio_option:nth-of-type(even) {
    background-color: var(--form-color-lighter);
}

.radio_option:hover {
    cursor: pointer;
    background-color: var(--form-color-hover);
}

input[type="radio"] {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

input[type="radio"]:focus-visible + .radio_option {
    outline: 2px solid var(--main-color);
}

input[type="radio"]:checked + .radio_option {
    background-color: var(--main-color);
    color: var(--text-color-inverted);
    box-shadow: inset 0 -2px 0 var(--main-color);
}

.flash {
    background: var(--form-color);
    color: var(--text-color-inverted);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    transition: var(--animation-speed) ease-in;
    margin-bottom: 1rem;
}

.flash.success {
    background: var(--flash-success-color);
}

.flash.message {
    background: var(--flash-message-color);
}

.flash.warning {
    background: var(--flash-warning-color);
}

.flash.error {
    background: var(--flash-error-color);
    color: var(--text-color);
}

.flash-close {
    padding: 1rem;
    cursor: pointer;
    margin: -1rem;
    align-self: baseline;
    user-select: none;
}

/* PAGE SPECIFIC */

/* Dive Generator */

.generator-options-wrapper {
    max-width: 800px;
}

#randomForm, #manualForm {
    display: none;
    flex-direction: column;
}

#clear-all-btn {
    align-self: flex-end;
}

#dive-options-wrapper {
    background-color: var(--form-color-darker);
    width: 100%;
    padding: 0 1rem;
    overflow: hidden;
    max-height: 0;
    visibility: hidden;
    transition: 0.4s ease;
}

#dive-options-wrapper.visible {
    max-height: 35rem;
    padding: 1rem;
    visibility: visible;
}

#dive-options-wrapper.disabled * {
    opacity: 0.6;
}

#dive-options-toggle {
    width: 100%;
    background-color: var(--navbar-color);
    padding: 0.5rem;
    cursor: pointer;
    color: var(--text-color);
    margin-bottom: 2rem;
    border-radius: 0 0 10px 10px;
}

.dive-options-flex-wrapper {
    display: flex;
    gap: 1rem;
}

.dive-options-flex-wrapper .line {
    margin: 5px 0;
}

.dive-options-flex-wrapper .checkbox-wrapper {
    flex: 1;
}

input[type="checkbox"] {
    opacity: 0 !important;
    position: absolute;
    pointer-events: none;
}

input[type="checkbox"] + label {
    display: block;
    position: relative;
    user-select: none;
}

input[type="checkbox"]:focus-visible + label {
    outline: 2px solid var(--main-color);
}

input[type="checkbox"] + label:hover::before {
    background-color: var(--form-color-hover);
}

input[type="checkbox"]:disabled + label:hover::before {
    background-color: var(--form-color);
}

input[type="checkbox"] + label::before {
    position: relative;
    display: inline-block;
    content: "";
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
    top: 2px;
    border-radius: 3px;
    background: var(--form-color);
}

input[type="checkbox"] + label::after {
    display: none;
    position: absolute;
    content: "";
}

input[type="checkbox"]:checked + label::after {
    display: block;
    left: 5px;
    top: 5px;
    width: 4px;
    height: 9px;
    border: solid var(--main-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#btn-print {
    margin-bottom: 2rem;
}

.jump-program {
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}

.list-index {
    position: absolute;
    left: -1.6rem;
    top: calc(50% - 0.6rem);
    background-color: var(--bg-color);
    border-radius: 50%;
    width: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-wrapper img {
    width: 100%;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.9);

    align-items: center;
    justify-content: center;
    overflow: auto;
}

.modal-content {
    background-color: var(--bg-color);
    padding: 2rem 1rem;
    border-radius: 8px;
    width: 95%;
    max-width: 1600px;
    box-sizing: border-box;
}

.modal-body {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}


/* Video Archive */
.video-wrapper {
    font-family: var(--font-monospace);
    font-size: 1.2rem;
}

.video-wrapper li {
    list-style: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.video-wrapper a {
    font-family: var(--font-monospace);
}

.video-files-wrapper ul li:nth-child(2n) {
    margin-bottom: 1rem;
}

.video-wrapper ul li:hover {
    background-color: var(--bg-color-hover);
}

#video-player {
    max-width: 100%;
    max-height: 50rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    display: block;
}

/* Global */

.mb-0 {
    margin-bottom: 0rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

@media (max-width: 767px), (pointer: coarse) {
    html {
        font-size: 120%;
    }

    #menu-button {
        display: block;
    }

    .main-container {
        padding: 1rem;
    }

    .header {
        position: sticky;
        top: 0;
    }

    #navbar {
        position: fixed;
        right: 0;
        top: 0; /* will be changed by javascript */
        bottom: -100px;
        z-index: 5;
        transition: 0.4s ease;
        visibility: hidden;
        width: 0;
        overflow: hidden;
    }

    #navbar.visible {
        visibility: visible;
        width: 300px;
    }

    #navbar a {
        white-space: nowrap;
    }

    #navbar .nav-arrow-down {
        right: -300px;
        transition: 0.4s ease;
    }

    #navbar.visible .nav-arrow-down {
        right: 0;
    }

    #navbar .user-info {
        width: 300px;
    }

    input[type="checkbox"]:checked + label::after {
        left: 7px;
        top: 7px;
    }

    .dive-generator-class-wrapper {
        max-width: 100%;
    }

    .flex-row .form {
        margin-right: 0.5rem;
    }

    .list-index {
        left: -1rem;
    }
}